<section class="our-advantages">
  <div class="container">
    <div class="section-info">
      <p class="section-description">СТАРАЯ ТРАДИЦИОННАЯ ШКОЛА</p>
      <h2 class="section-title">Почему приходят именно к нам?</h2>
      <p class="description-text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <div class="statistics">
      <ul class="statistics-list">
        <li class="statistics-item">
          <span class="number">600</span>Довольных клиентов в день
        </li>
        <li class="statistics-item">
          <span class="number">50</span>Наград за отличный сервис
        </li>
        <li class="statistics-item">
          <span class="number">20</span>Лучших мастеров Киева
        </li>
        <li class="statistics-item">
          <span class="number">100</span>Подарков постоянным клиентам
        </li>
      </ul>
    </div>
  </div>
</section>
