<section class="our-works">
  <div class="container">
    <p class="section-description">
      НА ЛАТИНСКОМ "БАРБА" ОЗНАЧАЕТ "БОРОДА"
    </p>
    <ul class="our-works-list">
      <li>
        <picture>
        <source srcset="
                      ./images/Gallery/gallery1/desktop1.webp    270w,
                      ./images/Gallery/gallery1/desktop1@2x.webp 540w
                    " type="image/webp" media="(min-width: 1280px)" sizes="270px" />
        <source srcset="
                      ./images/Gallery/gallery1/desktop1.jpg    270w,
                      ./images/Gallery/gallery1/desktop1@2x.jpg 540w
                    " media="(min-width: 1280px)" sizes="270px" />
        
        <source srcset="
                      ./images/Gallery/gallery1/tablet1.webp    330w,
                      ./images/Gallery/gallery1/tablet1@2x.webp 660w
                    " type="image/webp" media="(min-width: 768px)" sizes="330px" />
        <source srcset="
                      ./images/Gallery/gallery1/tablet1.jpg    330w,
                      ./images/Gallery/gallery1/tablet1@2x.jpg 660w
                    " media="(min-width: 768px)" sizes="330px" />
        
        <source srcset="
                      ./images/Gallery/gallery1/mobile1.webp    418w,
                      ./images/Gallery/gallery1/mobile1@2x.webp 836w
                    " type="image/webp" media="(max-width: 767px)" />
        
        <source srcset="
                      ./images/Gallery/gallery1/mobile1.jpg    418w,
                      ./images/Gallery/gallery1/mobile1@2x.jpg 836w
                    " media="(max-width: 767px)" />
          

          <img
            src="./images/Gallery/gallery1/mobile1.jpg"
            alt="Фото наших работ"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/Gallery/gallery2/desktop2.webp    270w,
              ./images/Gallery/gallery2/desktop2@2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1280px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/Gallery/gallery2/desktop2.jpg    270w,
              ./images/Gallery/gallery2/desktop2@2x.jpg 540w
            "
            media="(min-width: 1280px)"
            sizes="270px"
          />

          <source
            srcset="
              ./images/Gallery/gallery2/tablet2.webp    330w,
              ./images/Gallery/gallery2/tablet2@2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/Gallery/gallery2/tablet2.jpg    330w,
              ./images/Gallery/gallery2/tablet2@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />

          <source
            srcset="
              ./images/Gallery/gallery2/mobile2.webp    418w,
              ./images/Gallery/gallery2/mobile2@2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/Gallery/gallery2/mobile2.jpg    418w,
              ./images/Gallery/gallery2/mobile2@2x.jpg 836w
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/Gallery/gallery2/mobile2.jpg"
            alt="Фото наших работ"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/Gallery/gallery3/desktop3.webp    270w,
              ./images/Gallery/gallery3/desktop3@2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1280px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/Gallery/gallery3/desktop3.jpg    270w,
              ./images/Gallery/gallery3/desktop3@2x.jpg 540w
            "
            media="(min-width: 1280px)"
            sizes="270px"
          />

          <source
            srcset="
              ./images/Gallery/gallery3/tablet3.webp    330w,
              ./images/Gallery/gallery3/tablet3@2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/Gallery/gallery3/tablet3.jpg    330w,
              ./images/Gallery/gallery3/tablet3@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />

          <source
            srcset="
              ./images/Gallery/gallery3/mobile3.webp    418w,
              ./images/Gallery/gallery3/mobile3@2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/Gallery/gallery3/mobile3.jpg    418w,
              ./images/Gallery/gallery3/mobile3@2x.jpg 836w
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/Gallery/gallery3/mobile3.jpg"
            alt="Фото наших работ"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/Gallery/gallery4/desktop4.webp    270w,
              ./images/Gallery/gallery4/desktop4@2x.webp 540w
            "
            type="image/webp"
            media="(min-width: 1280px)"
            sizes="270px"
          />
          <source
            srcset="
              ./images/Gallery/gallery4/desktop4.jpg    270w,
              ./images/Gallery/gallery4/desktop4@2x.jpg 540w
            "
            media="(min-width: 1280px)"
            sizes="270px"
          />

          <source
            srcset="
              ./images/Gallery/gallery4/tablet4.webp    330w,
              ./images/Gallery/gallery4/tablet4@2x.webp 660w
            "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="330px"
          />
          <source
            srcset="
              ./images/Gallery/gallery4/tablet4.jpg    330w,
              ./images/Gallery/gallery4/tablet4@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="330px"
          />

          <source
            srcset="
              ./images/Gallery/gallery4/mobile4.webp    418w,
              ./images/Gallery/gallery4/mobile4@2x.webp 836w
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/Gallery/gallery4/mobile4.jpg    418w,
              ./images/Gallery/gallery4/mobile4@2x.jpg 836w
            "
            media="(max-width: 767px)"
          />

          <img
            src="./images/Gallery/gallery4/mobile4.jpg"
            alt="Фото наших работ"
          />
        </picture>
      </li>
      </li>
    </ul>
  </div>
</section>
