<header class="page-header">
  <div class="container">
    <span class="site-logo">
      <svg class="logo-icon">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </span>

    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        class="menu-icon"
        width="40px"
        height="40px"
        aria-label="Переключатель мобильного меню"
      >
        <use class="menu-open" href="./images/icons.svg#menu_40px"></use>
        <use class="menu-close" href="./images/icons.svg#close_40px"></use>
      </svg>
    </button>
    <div class="menu" id="menu-container" data-menu>
      <div class="menu-content">
        <button
          type="button"
          class="menu-button-inner"
          aria-expanded="false"
          aria-controls="menu-container"
          mobile-menu-button
        >
          <svg
            class="menu-icon"
            width="40px"
            height="40px"
            aria-label="Переключатель мобильного меню"
          >
            <use class="menu-open" href="./images/icons.svg#menu_40px"></use>
            <use class="menu-close" href="./images/icons.svg#close_40px"></use>
          </svg>
        </button>
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-list-item"><a href="#about-us">О нас</a></li>
            <li class="navigation-list-item">
              <a href="#prices">Услуги и цены</a>
            </li>
            <li class="navigation-list-item">
              <a href="#our-team">Мастера</a>
            </li>
            <li class="navigation-list-item">
              <a href="#contacts">Контакты</a>
            </li>
          </ul>
        </nav>
        <ul class="contact-us">
          <li class="contact-us-item">
            <a href="tel:+380441111111">+38 044 111 11 11</a>
          </li>
          <li class="contact-us-item">
            <a class="button" href="#subscription-form">ОНЛАЙН-ЗАПИСЬ</a>
          </li>
        </ul>
        <ul class="media-list">
          <li class="media-item"><a href="#">Instagram</a></li>
          <li class="media-item"><a href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
