<section class="hero">
  <aside class="hero-aside">
    <span class="aside-site-logo">
      <svg class="logo-icon">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </span>
    <ul class="aside-list">
      <li class="aside-list-item">
        <span class="line"> </span>

        <a href="#">Instagram</a>
      </li>
      <li class="aside-list-item"><a href="#">Youtube</a></li>
    </ul>
  </aside>
  <div class="container for-hero">
    <!-- Header -->
    <include src="./partials/header.html"></include>

    <div class="hero-content">
      <p class="hero-description">A HAIR SALON FOR MAN IN KYIV</p>
      <h1 class="hero-title">BarberShop</h1>
      <p class="hero-description-text">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>
    <div class="slider-position">
      <span class="position curent"></span>
      <span class="position"></span>
      <span class="position"></span>
    </div>
    <div class="slider-nav">
      <div class="slider-nav-previous">Назад</div>
      <div class="slider-nav-next">Вперед</div>
    </div>
  </div>
</section>
