<section class="our-prices" id="prices">
  <div class="container">
    <p class="section-description">
      проведи время в компании лучших мастеров
    </p>
    <h2 class="section-title">Услуги и цены</h2>
    <div class="pricelist">
      <ul class="pricelist-first">
        <li class="pricelist-item">
          <span class="pricelist-item-name">Мужская стрижка</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 300 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка бороды</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка усов</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Бритье опасной бритвой</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
      </ul>
      <ul class="pricelist-second">
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка у стажера</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 50 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка под насадку</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Детская стрижка (до 12 лет)</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 300 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Камуфлирование седины</span>
          <span class="pricelist-line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a class="pricelist-button button" href="#subscription-form"
      >ОНЛАЙН-ЗАПИСЬ</a
    >
  </div>
</section>
