<section class="contacts container-contacts" id="contacts">
  <div class="signup-form">
    <p class="signup-title">Онлайн-запись</p>
    <form class="subscription-form" id="subscription-form">
      <input class="form-input" type="text" placeholder="ИМЯ*" required />
      <input class="form-input" type="tel" placeholder="ТЕЛЕФОН*" required />
      <textarea
        class="form-input user-comment"
        name="comment"
        id="comment"
        placeholder="СООБЩЕНИЕ "
      ></textarea>
      <button class="button" type="submit">ОТПРАВИТЬ</button>
    </form>
  </div>

  <div class="communication">
    <p class="communication-title">Контакты</p>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <address class="address-block">
          <svg class="icon">
            <use href="./images/svg/submition-contacts.svg#icon-map"></use>
          </svg>
          ул. Васильковая, 7А Киев, 08132
        </address>
      </li>

      <li class="contacts-list-item">
        <a class="tel" href="tel:+380441111111">
          <svg class="icon">
            <use href="./images/svg/submition-contacts.svg#icon-phone"></use>
          </svg>
          +38 044 111 11 11
        </a>
      </li>

      <li class="contacts-list-item">
        <a class="email" href="mailto:barbershop@email.com">
          <svg class="icon">
            <use
              href="./images/svg/submition-contacts.svg#icon-mail"
            ></use></svg
          >barbershop@email.com
        </a>
      </li>
    </ul>
    <div class="schedule">
      <p class="schedule-title">ВРЕМЯ РАБОТЫ</p>
      <p class="schedule-details">Ежедневно с 9:00 до 22:00</p>
    </div>
  </div>
</section>
