<section class="our-team" id="our-team">
  <div class="container">
    <p class="section-description">ДЛЯ НАСТОЯЩИХ ЦЕНИТЕЛЕЙ АТМОСФЕРЫ</p>
    <h2 class="section-title">Наши мастера</h2>
    <ul class="team-list">
      <li class="team-item">
        <div class="team-photo">
          <picture>
            <source
              srcset="
                ./images/Team/master1/desktop1.webp    370w,
                ./images/Team/master1/mobile1.webp     418w,
                ./images/Team/master1/tablet1.webp     450w,
                ./images/Team/master1/desktop1@2x.webp 740w,
                ./images/Team/master1/mobile1@2x.webp  836w,
                ./images/Team/master1/tablet1@2x.webp  900w
              "
              type="image/webp"
            />

            <img
              srcset="
                ./images/Team/master1/desktop1.jpg    370w,
                ./images/Team/master1/mobile1.jpg     418w,
                ./images/Team/master1/tablet1.jpg     450w,
                ./images/Team/master1/desktop1@2x.jpg 740w,
                ./images/Team/master1/mobile1@2x.jpg  836w,
                ./images/Team/master1/tablet1@2x.jpg  900w
              "
              src="./images/Team/master1/mobile1.jpg"
              alt="Фото"
              sizes="(min-width: 1280px) 370px, (min-width: 768px) 450px, 100vw"
            />
          </picture>
        </div>
        <div class="team-item-info">
          <h3 class="item-title" lang="en">John Smith</h3>
          <p class="item-description" lang="en">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-photo">
          <picture>
            <source
              srcset="
                ./images/Team/master2/desktop2.webp    370w,
                ./images/Team/master2/mobile2.webp     418w,
                ./images/Team/master2/tablet2.webp     450w,
                ./images/Team/master2/desktop2@2x.webp 740w,
                ./images/Team/master2/mobile2@2x.webp  836w,
                ./images/Team/master2/tablet2@2x.webp  900w
              "
              type="image/webp" />

            <img
              srcset="
                ./images/Team/master2/desktop2.jpg    370w,
                ./images/Team/master2/mobile2.jpg     418w,
                ./images/Team/master2/tablet2.jpg     450w,
                ./images/Team/master2/desktop2@2x.jpg 740w,
                ./images/Team/master2/mobile2@2x.jpg  836w,
                ./images/Team/master2/tablet2@2x.jpg  900w
              "
              src="./images/Team/master2/mobile2.jpg"
              alt="Фото"
              sizes="(min-width: 1280px) 370px, (min-width: 768px) 450px, 100vw"
          /></picture>
        </div>
        <div class="team-item-info">
          <h3 class="item-title" lang="en">Michele Doe</h3>
          <p class="item-description" lang="en">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-photo">
          <picture>
            <source
              srcset="
                ./images/Team/master3/desktop3.webp    370w,
                ./images/Team/master3/mobile3.webp     418w,
                ./images/Team/master3/tablet3.webp     450w,
                ./images/Team/master3/desktop3@2x.webp 740w,
                ./images/Team/master3/mobile3@2x.webp  836w,
                ./images/Team/master3/tablet3@2x.webp  900w
              "
              type="image/webp"
            />

            <img
              srcset="
                ./images/Team/master3/desktop3.jpg    370w,
                ./images/Team/master3/mobile3.jpg     418w,
                ./images/Team/master3/tablet3.jpg     450w,
                ./images/Team/master3/desktop3@2x.jpg 740w,
                ./images/Team/master3/mobile3@2x.jpg  836w,
                ./images/Team/master3/tablet3@2x.jpg  900w
              "
              src="./images/Team/master3/mobile3.jpg"
              alt="Фото"
              sizes="(min-width: 1280px) 370px, (min-width: 768px) 450px, 100vw"
            />
          </picture>
        </div>
        <div class="team-item-info">
          <h3 class="item-title" lang="en">Alan Black</h3>
          <p class="item-description" lang="en">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" height="44">
                  <use href="./images/icons.svg#social-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
